.wrapper {
  width: 100vw;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 16px 80px;
  font-size: 17px;
  font-weight: 700;
  border-radius: 4px;
  text-decoration: none;
}

.buttons {
  margin-top: 100px;
  z-index: 2;
}

.sign_in {
  color: #ffff;
  border: none;
  background: #371e84;
}

.discover {
  margin-left: 40px;
  font-weight: 500;
  border: 1px solid #371e84;
  background: #fff;
}

.travel_with {
  font-size: 11vw;
  font-weight: 600;
  color: #ffe0e0;
}

@media screen and (max-width: 1050px) {
  .wrapper {
    width: 320px;
  }

  .travel_with {
    width: 100vw;
    text-align: center;
    font-size: 15vw;
  }

  .button {
    margin-top: 60px;
    padding: 10px 20px;
  }

  .buttons {
    justify-content: center;
  }

  .travel_with {
    font-size: 11vw;
    font-weight: 600;
    color: #ffe0e0;
  }
}
