.chat_main_wrap {
  width: 1170px;
  /* margin: 0 auto; */
  padding: 0 15px;
}

.chat_main_content {
  margin-top: 70px;
  display: flex;
  height: 100%;
}

.chat_main_aside {
  flex: 1 1 32%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--secondary-background-illustration, #d7d2e6);
  border-right: 1px solid var(--secondary-background-illustration, #d7d2e6);
}

.aside_user_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 5px 10px;
  border-bottom: 1px solid var(--secondary-background-illustration, #d7d2e6);
}

.aside_user_maininfo {
  display: flex;
  align-items: center;
}

.aside_user_avatar img {
  width: 70px;
  height: 70px;
}

.aside_username {
  margin-left: 30px;
  color: var(--text-color, #0b1644);

  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px;
}

.aside_chats {
}

.aside_chats_wrap {
  height: 524px;
  overflow-y: scroll;
}

.aside_chats_wrap::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.aside_chats_wrap::-webkit-scrollbar {
  width: 4px;

  background-color: #f5f5f5;
}

.aside_chats_wrap::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--secondary-background-illustration, #d7d2e6);
}

.aside_chats_search {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aside_chats_select {
  margin-top: 30px;
  margin-bottom: 20px;
  border: none;
  color: var(--text-color, #0b1644);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  border-bottom: 2px solid var(--main-accent-red, #fd6d5d);
}

.aside_chats_select option {
  width: 150px;
}

select:focus {
  outline: none;
}

.aside_input_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside_chats_input {
  width: 350px;
  padding: 10px;
  margin-bottom: 20px;

  color: #d7d2e6;
  border-radius: 8px;
  border: 1px solid var(--secondary-background-illustration, #d7d2e6);

  background-image: url("../../components/assets/search\ icon1.png");
  background-repeat: no-repeat;
  background-position: 330px;
}

.aside_chat_input input[type="text"] {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

input:focus {
  outline: none;
}

.aside_chat {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-bottom: 1px solid var(--secondary-background-illustration, #d7d2e6);
}

.aside_chat_active {
  background: #ffd9d7;
}

.aside_chat_icon {
  margin-right: 18px;
}

.aside_chat_name {
  color: var(--text-color, #0b1644);

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.aside_footer {
  padding: 30px 20px;
  border-top: 1px solid var(--secondary-background-illustration, #d7d2e6);
}

.aside_create_chat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside_create_chat_btn {
  border-radius: 4px;
  background: var(--main-accent-blue, #371e84);
  color: #fff;
  padding: 10px 30px;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
}

.aside_help {
  display: flex;
  margin-top: 40px;
  align-items: center;
}

.aside_help_icon {
  margin-right: 10px;
  margin-bottom: -5px;
}

.aside_help_title {
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
}

.chat_space {
  flex: 1 1 78%;
  border-right: 1px solid var(--secondary-background-illustration, #d7d2e6);

  display: flex;
  align-items: center;
  justify-content: center;
}

.chat_wrap {
  flex: 0 1 78%;
  border-right: 1px solid var(--secondary-background-illustration, #d7d2e6);
}

.chat_welcome {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--secondary-background-illustration, #d7d2e6);
}

.chat_welcome_img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.chat_welcome_description {
  color: var(--illustration-blue, #876fd1);
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
}

.aside_settings {
  position: relative;
}

.aside_settings img {
  cursor: pointer;
}
.aside_settings_modal {
  position: absolute;
  padding: 20px 30px;
  top: -32px;
  left: 35px;

  width: 370px;
  height: 560px;
  background: #fff;

  box-shadow: 3px 3px 11px 0px rgba(55, 30, 132, 0.2);
  z-index: 10;
}

.settings_modal_content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.settings_modal_tabs {
  flex: 1;
}

.settings_modal_tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 20px;
  cursor: pointer;
}

.tab_main {
  display: flex;
  align-items: center;
}

.tab_img {
  margin-right: 10px;
  margin-bottom: -4px;
}

.tab_title {
  color: var(--text-color, #0b1644);

  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px;
}
.tab_arrow {
  font-weight: 800;
}

.settings_modal_signout {
  display: flex;
  justify-content: start;
  border: none;
  background: none;

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  cursor: pointer;
}

.settings_modal_signout img {
  margin-right: 10px;
}

.settings_modal_signout span {
  color: var(--main-accent-red, #fd6d5d);
}

/* MOBILE VERSION */

.mobile_version {
  display: none;
  width: 375px;
  /* height: 812px; */
  height: 100vh;
}

.mobile_version_header {
  /* heigt: 63px; */
  width: 100vw;
  padding: 12px;
  border-bottom: 1px solid var(--main-accent-red, #fd6d5d);
}
.mobile_version_header_chat {
  /* heigt: 63px; */
  width: 100vw;
  padding: 9px 12px;
  border-bottom: 1px solid var(--main-accent-red, #fd6d5d);
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile_create_chat {
  width: 100vw;
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

.mobile_create_btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-accent-blue, #371e84);
  color: #fff;
  font-weight: 800;
  font-size: 26px;
}

.mobile_version_wrap {
  max-width: 700px;
  margin: 0 auto;
}

.header_burger {
  margin-left: 15px;
}

.header_chat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_chat_avatar {
  margin-right: 10px;
}

.header_chat_titles {
}

.header_chat_name {
  color: var(--text-color, #0b1644);

  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px;
}

.header_chat_members {
  color: var(--secondary-background-illustration, #d7d2e6);

  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
}

.header_back_to_chats {
  margin-right: 20px;
}

.mobile_chat_messages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.mobile_chat_no_messages {
  box-sizing: border-box;
  width: 244px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--secondary-background-illustration, #d7d2e6);
}

.nomessages_img {
  width: 220px;
  margin-bottom: 20px;
}

.nomessages_text {
  color: var(--illustration-blue, #876fd1);
  text-align: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.mobile_chat {
  display: flex;
  flex-direction: column;
}

.mobile_chat_footer {
  margin-bottom: 20px;

  width: 100vw;
}

.mobile_chat_form {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px 12px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 24px;
  border: 1px solid var(--secondary-background-illustration, #d7d2e6);
}

.mobile_chat_form input {
  border: none;
  color: #d7d2e6;

  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.mobile_form_files {
  display: flex;
}
.mobile_form_file {
  margin-right: 10px;
}

.mobile_chat_form input:focus {
  outline: none;
}
.mobile_chat_form input::placeholder {
  color: #d7d2e6;
}

.mobile_settings_modal {
  position: absolute;
  top: -3px;
  left: 0px;
  box-sizing: border-box;
  padding: 20px;
  width: 300px;
  background: #fff;
  height: 100vh;
  box-shadow: 3px 3px 11px 0px rgba(55, 30, 132, 0.2);
  z-index: 10;
}

.mobile_tab_title {
  color: var(--text-color, #0b1644);

  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
}

.mobile_modal_userinfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--secondary-background-illustration, #d7d2e6);
  margin-bottom: 16px;
}

.modal_userinfo_main {
  display: flex;
  align-items: center;
  color: #d7d2e6;
}

.mobile_modal_close {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 900;
}

.mobile_userinfo_avatar {
  margin-right: 10px;
}

.mobile_userinfo_avatar img {
  width: 40px;
  height: 40px;
}

.mobile_userinfo_name {
  color: var(--text-color, #0b1644);
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

@media (max-width: 800px) {
  .chat_main_page {
    display: none;
  }
  .mobile_version {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aside_chats_wrap {
    width: 100vw;
    margin: 0 24px;
    overflow: auto;

    flex: 1;
  }
}

@media (max-width: 1175px) {
  .chat_main_wrap {
    width: 800px;
  }
  .aside_chats_input {
    width: 200px;
  }
}
