.contacts {
  width: 90vw;
  margin: 130px 0 130px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts_question {
  margin: 0;
  width: 50vw;
  max-width: 570px;
  font-size: 76px;
  font-weight: 600;
  line-height: 104px;
  letter-spacing: 0em;
  text-align: left;
}

.email {
}

.mail_to {
  text-decoration: none;
  font-size: 22px;
}

.contacts_info {
  max-width: 570px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 22px;
}

@media screen and (max-width: 1050px) {
  .contacts {
    width: 80vw;
    margin: 0 0 20px 3px;
    flex-direction: column;
    align-items: flex-start;
  }

  .contacts_question {
    width: 100%;
    font-size: 25px;
    line-height: 30px;
  }

  .contacts_info {
    width: 100%;
    font-size: 17px;
  }

  .mail_to {
    font-size: 15px;
  }
}
