.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap_invisible {
  display: none;
}

.text {
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  color: #0b1644;
}

.link {
  margin-right: 40px;
  cursor: pointer;
}

.sign_in {
  margin-right: 40px;
  padding: 6px 12px;
  border: 2px solid #876fd1;
  border-radius: 4px;
}

@media screen and (max-width: 1175px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .text {
    font-size: 6vw;
  }
  .link {
    margin: 50px 0 0 50px;
    font-weight: 400;
  }
}

.header {
  color: #0b1644;
  font-size: 22px;
  font-weight: 600;
}

.footer {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}
