
.wrapper {
    position: relative;
    margin-top: 170px;
    width: 35vw;

}


.description {
    width: 100%;
    height: 150px;
    margin-bottom: 50px;
}


.welcome {
    font-size: 45px;
    font-weight: 700;
}


.welcome_description {
    font-size: 25px;
    font-weight: 600;
}


@media screen and (max-width: 1050px) {
    .wrapper {
        width: 60vw;
        margin-top: 55px;
    }


    .description {
        margin-bottom: 15px;
    }


    .welcome {
        font-size: 25px;
    }


    .welcome_description {
        font-size: 18px;
    }
}


@media screen and (max-width: 500px) {
    .wrapper {
        width: 290px;
    }
}