@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  color: #0b1644;
  /*outline: 1px solid red;*/
}

body {
  overflow-x: hidden;
  font-family: "Nunito";
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input:focus {
  outline: none;
}
